.navbar{
    height: 80px;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;   
    background-image: linear-gradient(to left, #9E9E9E, #616161, #616161, #424242, #212121);
    
}
.nav-btns{
    position: absolute;
    right: 30px;
    top: 15px;
}
.logo{
    font-size: 28px;
    font-weight: 700;
    padding-top:20px;
    padding-left:50px;
    color:#E0E0E0;
    font-family: 'Open Sans', sans-serif;
}