.navbar{
    height: 80px;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    background-color: #004ba0;
    
}
.nav-btns{
    position: absolute;
    right: 30px;
    top: 15px;
}
.logo{
    font-size: 28px;
    font-weight: 700;
    padding-top:20px;
    padding-left:50px;
    color:#fff;
    font-family: 'Open Sans', sans-serif;
}