.home-page{
    color: #fff;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #1657E9;
    background-image: url('../../img/FIFA19-Hero-Tertiary-UEFA-lg.jpg');
    background-repeat: no-repeat;
    background-position-y: 80px; 
}