.home-page{
    color: #fff;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, #616161, #616161, #424242, #212121);
}